#annotate * {
    box-sizing: border-box;
    font-family: monospace;
}
main#annotate {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 3fr 1fr;
    padding: 0;
    margin: 0;
    height: 100vh;  
    background-color: #DDEEFF;    
    position: relative;
}
#annotate button {
    cursor: pointer;
}
#annotate a {
    text-decoration: underline;
}
#annotate a:hover {
    text-decoration: none;
}
#annotate .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
#annotate .overlay > div {
    width: clamp(380px, 70%, 600px);
    line-height: 1.8;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 2em;
}
#annotate .examine-string {
    text-align: center;
}
#annotate .examined {
    background-color: white;
    color: black;
    display: inline-flex;
    height: 3em;
    margin-top: 1em;
    margin-bottom: 2em;
    cursor: default;
}
#annotate .examined .component-box {
    min-width: 1em;
    padding: 0.4em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    border: 2px solid grey;
}
#annotate .examined .component-box:not(:last-child) {
    border-right: none;
}
#annotate .examine-string .tlinks {
    text-align: left;
    list-style: none;
    padding: 0;
    margin: 0;
}
#annotate .examine-string .tlinks li:not(:last-child) {
    margin-top: 0.6em;
}
#annotate .add-details {
    text-align: center;
}
#annotate .add-details .attr-list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}
#annotate .add-details .update-attr {
    margin: 1em auto;
}
#annotate .input-text {
    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#annotate .input-text textarea {
    resize: none;
    width: 100%;
    height: 100%;
}
#annotate .input-text .btns, #annotate .text .btns {
    margin-top: 1em;
}
#annotate .text {
    margin: 0;
    overflow-y: auto;

    width: 100%;
    height: 100%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#annotate .text pre {
    width: 100%;
    margin: 0;
    padding: 2em;
    white-space: pre-wrap;
    background-color: white;
    line-height: 1.6;

    height: 100%;
    overflow-y: auto;
}
#annotate span.tml-ev-ano {
    padding: 2px 5px;
    position: relative;
    cursor: default;
}
#annotate span.EVENT {
    background-color: rgb(216, 216, 64);
}
#annotate span.TIMEX3 {
    background-color: rgb(230, 161, 233);
}
#annotate span.tml-ev-ano:not(:hover) {
    opacity: 0.8;
}
#annotate .no-highlight span.tml-ev-ano:not(.highlight) {
    background-color: transparent;
}
#annotate span.tml-ev-ano:hover::after {
    content: attr(data-id);
    position: absolute;
    top: 120%;
    left: 50%;
    background-color: black;
    color: white;
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    z-index: 3;
}
#annotate .panel {
    padding: 2em;
    overflow-y: auto;
}
#annotate .panel p {
    text-align: center;
}
#annotate .panel .btns {
    display: flex;
    justify-content: space-around;
    margin: 2em;
    flex-wrap: wrap;
}
#annotate .panel .btns button {
    font-size: 1em;
    margin: 0.2em 0.6em;
}
#annotate .event-list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 2;
    cursor: default;
}
#annotate .event-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#annotate .event-list li button {
    height: 1em;
    width: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
#annotate .event-list li button:last-child {
    color: red;
}
#annotate .string-bank {
    padding: 0 2em 2em;
    overflow-y: auto;
}
#annotate .string-bank, #annotate .relations {
    border-top: 5px solid black;
    grid-row: 2;
    background-color: white;
}
#annotate .string-bank ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#annotate .string-bank ul li .sb-rbracket {
    flex-grow: 0;
    flex-shrink: 1;
    align-self: flex-end;
}
#annotate .string-bank ul li .sb-rbracket::after {
    content: ',';
}
#annotate .string-bank ul li {
    display: flex;
    cursor: default;
}
#annotate .sb-language > div {
    display: flex;
    flex-direction: column;
}
#annotate .sb-string:not(:last-child)::after {
    content: ',';
}
#annotate .relations {
    grid-row: 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#annotate .relations ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#annotate .relations select {
    font-family: monospace;
}
#annotate .relations button {
    margin-top: 1em;
}
#annotate .hidden {
    display: none;
}
